<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Read More</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Let me Know What's Up.</h1>
      <p class="modal-intro">Let me Know What's Up.</p>
      <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, conseias eriam molestias molestiae suscipitmus amet.</p>
    </div>
  </div>
</div>
