<section id="top" class="about-section">
  <div class="flex-container">
    <div class="about-contents">
      <div class="bio-pic">
        <img src="assets/images/zachatar.jpg" alt="Zach Urich"/>
      </div>
        <div class="flex-row">
          <div class="content-bubble">
            <p>
              {% include copy/about-content.html %}
            </p>
          </div>
        </div>
        <button class="button blue">Read More</button>
      </div>
    </div>
<div class="flex-container">
    <div class="about-contents">
        <div class="flex-row">
          <div class="content-bubble extended">
            <p>
              {% include copy/about-extended.html %}
            </p>
          </div>
        </div>
        <button class="button blue">Go Back</button>
      </div>
</div>
</section>
