<section class="about-section">
  <div class="about-card">
    <div class="about-contents">
      <div class="bio-pic">
        <img src="assets/images/zachatar.jpg" alt="Zach Urich"/>
      </div>
      <div class="content-1">
        <p>Hey there! I'm Zach Urich, a <span>designer and front-end developer</span> with a passion for creating.
        I enjoy <span>designing</span> interfaces for the web
        and bringing them to life with <span>code!</span></p>
      </div>
      <!-- <p class="about-more">
        {% include copy/about-content.html %}
      </p>
      <div class="read-more button">
        Read More
      </div> -->
    </div>
  </div>
</section>
