<section id="contact" class="heading-divider">
  <p>{{ site.data.settings.section-3 }}</p>
</section>
<section class="contact-section">
  <div class="flex-container">
    <div class="flex-row">
      <form action="https://formspree.io/{{ site.data.settings.email }}" method="POST">
          <input placeholder='Name' type="text" name="name" required></input>
          <input placeholder='Email' type="email" name="_replyto" required></input>
          <textarea placeholder="Inquiry" type="text" name="message" required></textarea>
          <button type="submit" class="button red" value="Send">Submit</button>
      </form>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-column">
      <div class="bio-pic">
        <img src="assets/images/zachatar.jpg" alt="Zach Urich"/>
      </div>
        <div class="flex-row">
          <div class="content-bubble hideOnLoad">
            <p>
              {% include copy/contact-success.html %}
            </p>
          </div>
        </div>
    </div>
  </div>
</section>
