<section id="contact" class="heading-divider">
  <p>{{ site.data.settings.section-3 }}</p>
</section>
<section class="contact-section">
  <form action="https://formspree.io/{{ site.data.settings.email }}" method="POST">
      <input placeholder='Name' type="text" name="name"></input>
      <input placeholder='Email' type="email" name="_replyto"></input>
      <textarea type="text" name="message">Inquiry</textarea>
      <button type="submit" class="button red" value="Send">Submit</button>
  </form>
</section>
