</section> <!--Main Section-->

<footer>
  <div class="container">
    <p>Copyright 2016 Zach Urich</p>
    <div class="social-icons">
      <a href="https://twitter.com/zach462"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/zachurich/"><i class="fa fa-instagram"></i></a>
      <a href="https://dribbble.com/ZachUrich"><i class="fa fa-dribbble"></i></a>
      <a href="https://www.linkedin.com/in/zach-urich"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</footer>

</body>
</html>
