<header>
  <div class="container">
    <div class="logo"><a href="#top">{{ site.data.settings.title }}</a></div>
    	<ul class="menu">
        {% for menu in site.data.settings.menu %}
      		<li><a href="{{ menu.url }}">{{ menu.name }}</a></li>
        {% endfor %}
        {% for callToAction in site.data.settings.callToAction %}
      		<li class="callToAction">
            <a href="{{callToAction.url}}">{{callToAction.name}}</a>
          </li>
        {% endfor %}
    	</ul>
      <div class="mobile-menu">
        <div class="menu-button">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="menu-mobile">
          {% for menu in site.data.settings.menu %}
          <li><a class="{{ menu.color }}" href="{{ menu.url }}">{{ menu.name }}</a></li>
          {% endfor %}
          {% for callToAction in site.data.settings.callToAction %}
          <li class="callToAction">
            <a class="{{ callToAction.color }}" href="#contact">{{ callToAction.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
  </div>
</header>
