<header>
  <div class="container">
    <div class="logo"><p>Zach Urich</p></div>
    	<ul class="menu">
    		<li><a href="#about">About</a></li>
    		<li><a href="#work">Work</a></li>
        <li><a href="#activity">Activity</a></li>
    		<li class="callToAction">
          <a href="#contact">Contact</a>
        </li>
    	</ul>
      <div class="mobile-menu">
        <div class="menu-button">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="menu-mobile">
          <li><a class="blue" href="#about">About</a></li>
          <li><a class="green" href="#work">Work</a></li>
          <li><a class="yellow" href="#activity">Activity</a></li>
          <li class="callToAction">
            <a class="red" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
  </div>
</header>
