<div class="project-box hidden">
  <div class="back-button"></div>
  <div class="content">
    <h1>Title</h1>
  </div>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, in primis latine nec, nec tollit essent fastidii ad. Corpora interpretaris mel ad, legere mediocrem in usu, in graece delenit accusata sea. Has et prima splendide consequat, his ea noster epicurei molestiae, per no singulis efficiendi cotidieque. Ut decore graeco eleifend sit, voluptaria signiferumque at pro.</p>
  </div>
  <div class="content">
    <img src="https://d13yacurqjgara.cloudfront.net/users/889567/screenshots/2682033/backpacklanding.png" alt=""/>
  </div>
</div>
