<section id="work" class="heading-divider">
  <p>Work</p>
</section>
<section class="work-section">
  <div class="flex-container">
    <div class="flex-row">
      {% for projects in site.data.settings.projects %}
      <div class="work-thumb">
        <img src="assets/images/projects/{{projects.folder}}/thumbnail.png" alt=""/>
      </div>
      {% endfor %}
      <!-- <div class="work-thumb"><img src="assets/images/projects{{project.folder}}/thumbnail.jpg" alt=""></div>
      <div class="work-thumb"><img src="assets/images/projects{{project.folder}}/thumbnail.jpg" alt=""></div>
      <div class="work-thumb"><img src="assets/images/projects{{project.folder}}/thumbnail.jpg" alt=""></div>
      <div class="work-thumb"><img src="assets/images/projects{{project.folder}}/thumbnail.jpg" alt=""></div>
      <div class="work-thumb"><img src="assets/images/projects{{project.folder}}/thumbnail.jpg" alt=""></div> -->
    </div>

  </div>
  {% include projects.html %}
</section>
