.about-section {
  padding: $sectionPadding;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: $normal;
  .bio-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 25px;
  }
  p {
    font-family: $mainFont;
    font-size: $copyFont;
    color: white;
    font-weight: 600;
    width: 40%;
    text-align: center;
    @include media($mobile-medium) {
      width: 70%;
    }
    span {
      color: $mainColorShade;
    }
  }
  p.about-more {
    display: none;
    text-align: left;
  }
  .button {
    margin-top: 20px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $mainFont;
    color: white;
    border-radius: $corners;
    padding: 8px 20px;
    border: 2px solid white;
    cursor: pointer;
    transition: $normal;
    &:hover {
      color: $mainColor;
    }
  }
}
