.about-section {
  display: flex;
  padding: $sectionPadding;
  background-color: $mainColor;
  width: 200%;
  left: 0%;
  transition: $normal;
  position: relative;
  .about-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .button.blue {
      margin-top: 40px;
    }
    span.one {
      color: $mainColor;
    }
    span.two {
      color: $red;
    }
  }
}
