html,
body {
  overflow-x: hidden;
  background-color: $offWhite;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  -webkit-font-smoothing: antialiased;
  transition: $normal;
  width: 100%;
  position: relative;
}
p {
  color: white;
  font-size: $copyFont;
  font-family: $mainFont;
}
h1 {
  font-size: 2em;
}
