// Section Dividers
#work {
  p {
    color: $green;
  }
}
#contact {
  p {
    color: $red;
  }
}
#activity {
  p {
    color: $yellow;
  }
}
.heading-divider {
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: $mainColor;
    font-family: $mainFont;
    font-size: $headerFont;
    font-weight: 600;
  }
}
.red {
  color: $red;
}
.blue {
  color: $mainColor;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
// Button Styles
.button {
  margin-top: 20px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $mainFont;
  font-size: $copyFont;
  color: white;
  border-radius: $corners;
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid white;

  cursor: pointer;
  transition: $normal;
  &:active {
    background-color: white;
    box-shadow: $buttonShadows;
    transform: scale(1);
    cursor: pointer;
  }
}
.button.red {
  transition: $normal;
  &:active {
    background-color: white;
    color: $red;
  }
}

// Project Styles
.project {
  height: 100%;
  width: 100%;
  background-color: white;
  img {
    width: 100%;
    height: 100%;
    transition: $normal;
    &:active {
      -webkit-filter: grayscale(0);
      opacity: 1;
    }
  }
}
.project-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $slide;
  display: none;
  .project-box {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: $slide;
    .content.title {
      position: relative;
      .back-button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid $green;
        position: absolute;
        top: 23px;
        left: -60px;
        transition: $normal;
        @include media($intermediate) {
          left: 0px;
        }
        &:active {
          background-color: $green;
          cursor: pointer;
          box-shadow: $buttonShadowSmall;
        }
      }
        h1 {
          font-family: $mainFont;
          font-size: 1.8em;
          @include media($intermediate) {
            text-align: center;
          }
        }
      }
      .content {
        margin: 0 auto;
        width: 80%;
        color: $navColor;
      p {
        color: $navColor;
        font-size: $copyFont;
      }
      img {
        width: 100%;
      }
    }
  }
}
