// Section Dividers
#work {
  p {
    color: $green;
  }
}
#contact {
  p {
    color: $red;
  }
}
#activity {
  p {
    color: $yellow;
  }
}
.heading-divider {
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: $mainColor;
    font-family: $mainFont;
    font-size: $headerFont;
    font-weight: 600;
  }
}
.red {
  color: $red;
}
.blue {
  color: $mainColor;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
// Button Styles
.button {
  margin-top: 20px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $mainFont;
  font-size: $copyFont;
  color: white;
  border-radius: $corners;
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid white;
  box-shadow: $buttonShadows;
  cursor: pointer;
  transition: $normal;
  &:hover {
    background-color: white;
    box-shadow: $buttonShadowsActive;
    transform: scale(1);
    cursor: pointer;
  }
  &:active {
    box-shadow: $buttonShadowsActive;
    transform: scale(0.98);
  }
}
.button.red {
  transition: $normal;
  &:hover {
    background-color: white;
    color: $red;
  }
}

// Project Styles
.project {
  height: 100%;
  width: 100%;
  background-color: white;
  img {
    width: 100%;
    height: 100%;
    transition: $normal;
    &:hover {
      -webkit-filter: grayscale(0);
      opacity: 1;
    }
  }
}
.project-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $slide;
  display: none;
  .project-box {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: $slide;
    .content.title {
      position: relative;
      .back-button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid $green;
        position: absolute;
        top: 23px;
        left: -60px;
        transition: $normal;
        @include media($intermediate) {
          left: 0px;
        }
        &:hover {
          background-color: $green;
          cursor: pointer;
          box-shadow: $buttonShadowSmall;
        }
      }
        h1 {
          font-family: $mainFont;
          font-size: 1.8em;
          @include media($intermediate) {
            text-align: center;
          }
        }
      }
      .content {
        margin: 0 auto;
        width: 80%;
        color: $navColor;
      p {
        color: $navColor;
        font-size: $copyFont;
      }
      img {
        width: 100%;
      }
    }
  }
}

// Event Classes/Animations
.grow {
  display: block !important;
  animation: grow 0.5s forwards;
}

.animate{
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 15px;
  right: 20px;
  transition: $normal;
  span {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 2px;
    background-color: $mainColor !important;
    margin-top: 6px;
    transition: $normal;
    &:nth-child(1) {
      margin-top: 25px !important;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      margin-top: -10px !important;
      transform: rotate(-45deg);
    }
  }
}

@keyframes grow {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.slideOut {
  animation: slideOut 0.5s forwards;
  transition: 0.5s ease-in-out;
}

@keyframes slideOut {
  0% {top: -350px; transform: scale(1); opacity: 0;}
  50% {top: 90px; transform: scale(1.05);}
  80% {top: 80px; transform: scale(1);}
  100% {top: 80px; transform: scale(1); opacity: 1;}
}

.slideUp {
  animation: slideUp 0.5s forwards;
  transition: 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {top: 80px; opacity: 1}
  50% {top: 60px; opacity: 0}
  100% {top: -350px; opacity: 0}
}
