// Section Dividers
#work {
  p {
    color: $green;
  }
}
#contact {
  p {
    color: $red;
  }
}
#activity {
  p {
    color: $yellow;
  }
}
.heading-divider {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: $mainColor;
    font-family: $mainFont;
    font-size: $headerFont;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.red {
  color: $red;
}
.blue {
  color: $mainColor;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
// Button Styles
.button {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $mainFont;
  font-size: $navFont;
  font-weight: 600;
  color: white;
  border-radius: $corners;
  padding: 8px 30px;
  background-color: transparent;
  border: 2px solid white;
  text-transform: uppercase;
  cursor: pointer;
  transition: $normal;
  &:hover,
  &:active {
    background-color: white;
    box-shadow: $buttonShadows;
    transform: scale(1);
    cursor: pointer;
  }
}
.button.red {
  transition: $normal;
  &:hover,
  &:active {
    background-color: white;
    color: $red;
  }
}

a.button.green {
  border: 2px solid $green !important;
  text-decoration: none !important;
  color: $green !important;
  width: 100%;
  &:hover,
  &:active {
    background-color: $green !important;
    color: white !important;
  }
}

.divider {
  background: $mainColorShade;
  height: 2px;
  width: 20px;
  margin: 0 auto 25px;
}

.bio-modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.7);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  .bio-container {
    overflow: auto;
    position: fixed;
    background: white;
    top: 100px;
    width: 100%;
    max-width: 50em;
    padding: 50px;
    border-radius: $corners;
    box-shadow: $buttonShadows;
    @include media($intermediate) {
      top: 0;
      height: 100vh;
    }
    .close-button {
      position: absolute;
      right: 20px;
      top: 20px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 2px solid $green;
      transition: $normal;
      &:hover,
      &:active {
        background-color: $green;
      }
    }
    h1 {
      font-size: $headerFont;
      text-align: center;
      font-family: $mainFont;
      color: $mainColorShade;
    }
    p {
      color: $mainColor;
    }
  }
}
