footer {
  width: 100%;
  background-color: white;
  display: inline-block;

  .container {
    p {
      display: inline-block;
      width: 100%;
      font-family: $mainFont;
      font-weight: 600;
      text-align: center;
      line-height: 50px;
      color: $navColor;
      font-size: 1.2em;
    }

    .social-icons {

      display:flex;
      justify-content: center;
      height: 30px;
      width: 100%;
      margin: 0 0 30px;

      a {

        display: block;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
        line-height: 37px;
        margin-right: 20px;
        &:nth-child(1) {
          &:hover {
            background: $mainColor;
          }
        }
        &:nth-child(2) {
          &:hover {
            background: $red;
          }
        }
        &:nth-child(3) {
          &:hover {
            background: $green;
          }
        }
        &:nth-child(4) {
          margin-right: 0;
          &:hover {
            background: $yellow;
          }
        }
        i {
          font-size: $copyFont;
          color: $mainColor;
        }

      }

    }

  }

}
