.container {
  height: 100%;
  max-width: 86em;
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  transition: $normal;
header {
  background-color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 0 50px 5px rgba(0,0,0, 0.2);
  z-index: 9999;
  .logo {
    margin-left: 20px;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $mainFont;
    font-size: 1.2em;
    color: $mainColor;
    p {
      color: $mainColor;
      font-size: 1em;
      border: 2px solid $mainColor;
      padding: 0px 30px;
      line-height: 42px;
      height: 42px;
      font-weight: 600;
      border-radius: $corners;
    }
  }
  .menu {
    list-style-type: none;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    @include media($intermediate) {
      display: none;
    }
    li {
      margin-right: 20px;
      font-size: $navFont;
      font-family: $mainFont;
      font-weight: 400;
      cursor: pointer;
      border-bottom: 2px solid white;
      box-sizing: border-box;
      transition: $normal;
      a {
        text-decoration: none;
        color: $navColor;
        padding: 8px 10px;
        width: 100%;
        display: block;
        &:hover {
          color: $mainColor;
        }
      }
      &:hover {
        border-bottom: 2px solid $mainColor;
      }
    }
    .callToAction {
      background-color: $red;
      border-radius: $corners;
      margin-left: 20px;
      border: 0;
      box-shadow: inset 0 0 0 0 $mainColor;
      transition: $slow;
      a {
        color: white;
        padding: 10px 30px;
        display: block;
        width: 100%;
        transition: $normal;
        &:hover {
          color: white;
        }
      }
      &:hover {
        border: 0;
        box-shadow: inset 120px 0 0 0 $mainColor;
      }
    }
  }
  .mobile-menu {
    width: 100%;
    position: relative;
      .menu-button {
        display: none;
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        top: 15px;
        right: 20px;
        @include media($intermediate) {
          display: block;
        }
        span {
          display: block;
          margin: 0 auto;
          width: 26px;
          height: 2px;
          background-color: $mainColor;
          margin-top: 6px;
          &:nth-child(1) {
            margin-top: 17px;
          }
        }
        &:hover {
          background: $offWhite;
        }
      }
      .menu-mobile {
        list-style-type: none;
        background: $offWhite;
        width: 150px;
        position: absolute;
        top: -350px;
        right: 20px;
        margin-top: 20px;
        padding: 10px 0;
        text-align: center;
        box-shadow: $buttonShadows;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
        li {
          display: block;
          padding: 0px;
          width: 100%;
          height: 40px;
          line-height: 40px;
          a {
            display: block;
            height: 100%;
            width: 100%;
            font-weight: 300;
            text-decoration: none;
            font-family: $mainFont;
            color: $navColor;
          }
        }
      }

  }
}
}
