.container {
  height: 100%;
  max-width: 86em;
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  transition: $normal;
header {
  background-color: $transparency;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0 50px -6px rgba(0,0,0, 0.2);
  z-index: 9999;
  .logo {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $mainFont;
    font-size: 1.2em;
    color: $mainColor;
    a {
      color: $mainColor;
      font-size: $navFont;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0px 30px;
      line-height: 42px;
      height: 42px;
      font-weight: 600;
      border-radius: $corners;
    }
  }
  .menu {
    list-style-type: none;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    @include media($intermediate) {
      display: none;
    }
    li {
      margin-right: 20px;
      font-size: $navFont;
      text-transform: uppercase;
      font-family: $mainFont;
      font-weight: 600;
      cursor: pointer;
      border-bottom: 2px solid white;
      box-sizing: border-box;
      transition: $normal;
      a {
        text-decoration: none;
        color: $navColor;
        padding: 8px 10px;
        width: 100%;
        display: block;
        &:hover {
          color: $mainColor;
        }
      }
      &:hover {
        border-bottom: 2px solid $mainColor;
      }
    }
    .callToAction {
      background-color: $red;
      border-radius: $corners;
      margin-left: 20px;
      border: 0;
      transition: $normal;
      box-shadow: $buttonShadowsRed;
      a {
        color: white;
        padding: 10px 30px;
        display: block;
        width: 100%;
        transition: $normal;
        &:hover {
          color: white;
        }
      }
      &:hover{
        border: 0;
        background-color: $mainColor;
        box-shadow: $buttonShadowsBlue;
      }
    }
  }
  .mobile-menu {
    width: 100%;
    position: relative;
    z-index: 1;
      .menu-button {
        display: none;
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        top: 15px;
        right: 20px;
        transition: $normal;
        @include media($intermediate) {
          display: block;
        }
        span {
          display: block;
          margin: 0 auto;
          width: 26px;
          height: 2px;
          background-color: $gray;
          margin-top: 6px;
          transition: $slow;
          border-radius: $corners;
          &:nth-child(1) {
            margin-top: 17px;
          }
        }
        &:active {
          border: 0;
          background-color: $mainColor;
          box-shadow: $buttonShadowsBlue;
          span {
            background: white !important;
          }
        }
      }
      .menu-mobile {
        opacity: 0;
        list-style-type: none;
        background: rgba(2,56,84, 0.97);
        width: 150px;
        position: absolute;
        z-index: 1;
        top: 80px;
        right: 20px;
        margin-top: 20px;
        padding: 10px 0;
        text-align: center;
        box-shadow: $buttonShadows;
        border-radius: 4px;
        transform: translateY(-350px);
        transition: 0.5s ease-in-out;
        &:before {
          position: absolute;
          top: -10px;
          left: 76%;
          height: 0;
          width: 0;
          content: ' ';
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          border-bottom: 10px solid $mainColorShade;
        }
        li {
          display: block;
          padding: 0px;
          width: 100%;
          height: 40px;
          line-height: 40px;
          a {
            display: block;
            height: 100%;
            width: 100%;
            font-weight: 300;
            text-decoration: none;
            font-weight: 600;
            font-family: $mainFont;
            font-size: $navFont;
            text-transform: uppercase;
          }
        }
      }

  }
}
}
