.hero-section {
  margin-top: 80px;
  padding: 50px 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media($mobile-medium) {
    flex-direction: column;
  }
  img {
    max-width: 400px;
    width: 50%;
    min-width: 300px;
    margin-left: 100px;
    padding-right: 40px;
    @include media($mobile-medium) {
      padding-right: 0;
      margin-left: 0;
    }
  }
  h1 {
    text-align: center;
    color: $mainColor;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 3em;
    padding: 0 20px;
    @include media($mobile-medium) {
      display: flex;
      padding-top: 50px;
      flex-direction: column;
      justify-content: center;
    }
    .first {
      color: $mainColor;
    }
    .second {
      color: $green;
    }
    .third {
      color: $red;
    }
  }
}
