// Project Styles
.project-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $slide;
  display: none;
  .project-box {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: $slide;
    .content {
      background: white;
      box-shadow: $buttonShadows;
      border-radius: $corners;
      width: 80%;
      padding: 40px;
      margin: 0 auto;
      position: relative;
      .back-button {
        z-index: 9999;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid $green;
        background-color: $green;
        position: absolute;
        top: 35px;
        left: -80px;
        transition: $normal;
        .back {
          position: absolute;
          left: 10px;
          display: inline-block;
          background-color: white;
          height: 2px;
          width: 12px;
          border-radius: 4px;
          &:nth-child(1) {
            transform: rotate(-45deg);
            top: 14px;
          }
          &:nth-child(2) {
            transform: rotate(45deg);
            top: 21px;
          }
        }
        @include media($intermediate) {
          top: -18px;
          left: -20px;
        }
        &:active {
          cursor: pointer;
          box-shadow: $buttonShadowSmall;
        }
      }
      .content-title {
        position: relative;
          .title {
            margin-top: 0;
            font-family: $fontfamily-header;
            font-size: 1.6em;
            color: $green;
            @include media($intermediate) {
              text-align: center;
            }
          }
        }
      .content-content {
        img {
          width: 100%;
        }
      }
    }
  }
}
