
// Colors
$mainColor: #3498db; //blue
$green: #24b574;
$red: #d44c57;
$yellow: #f1a85e;
$mainColorShade: #023854;
$mainColoractive: #268fd6;
$navColor: #666;
$offWhite: #eee;
$gray: #aaa;
$transparency: rgba(255,255,255, 0.97);

// Styles
$corners: 2px;
$buttonShadows: 0px 20px 20px -10px rgba(0,0,0, 0.2);
$buttonShadowsRed: 0px 15px 15px -13px $red;
$buttonShadowsBlue: 0px 20px 20px -15px $mainColor;
$buttonShadowsActive: 0px 30px 20px -10px rgba(0,0,0, 0.2);
$buttonShadowSmall: 0px 10px 20px -5px rgba(0,0,0, 0.2);
$sectionPadding: 80px 0;

// Transitions
$normal: 0.15s ease-in-out;
$slow: 0.2s ease-in-out;
$slide: 0.5s ease-in-out;

// Fonts
$mainFont: 'Montserrat', sans-serif;
$navFont: 0.8em;
$copyFont: 0.9em;
$headerFont: 1.1em;

// Bitters
$base-border-color: #dcdcdc !default;
$base-border-radius: 3px !default;
$base-background-color: #fff !default;
$base-font-size: 1em !default;
$base-line-height: 1.5em !default;
$action-color: #477dca !default;
$dark-gray: #333 !default;
$light-gray: #ddd !default;
$medium-screen: 40em !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$modal-padding: 3em;
$modal-background: $base-background-color;
$modal-close-color: $light-gray;
$modal-image-height: 135px;
$modal-image-width: $modal-image-height;
$modal-trigger-image-width: 300px;

//Breakpoints
$mobile: new-breakpoint(max-width 480px);
$mobile-medium: new-breakpoint(max-width 665px);
$intermediate: new-breakpoint(max-width 816px);
$tablet: new-breakpoint(max-width 1090px);
$desktop: new-breakpoint(min-width 1090px);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
