<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="hero-section">
      <h1><span class="first">Design</span><span class="second"> + </span><span class="third">Code</span></h1>
    </section>
    <!--About-->
    <section class="about-section">
      <div class="bio-pic"></div>
      <p>Hey there! I'm Zach Urich, a <span>designer and front-end developer</span> with a passion for creating. Clean, cohesive, and functional are three key values I stick to within my creative process.</p>
      <div class="button">
        Read More
      </div>
    </section>
    <!--Work-->
    <section id="work" class="heading-divider">
      <p>Work</p>
    </section>
    <section class="work-section">
      <div class="flex-container">
        <div class="flex-row">
          <div class="work-thumb"><a href="#1" data-rel="1">{% include projects/1.html %}</a></div>
          <div class="work-thumb"><a href="#2" data-rel="2">{% include projects/2.html %}</a></div>
          <div class="work-thumb"><a href="#3" data-rel="3">{% include projects/3.html %}</a></div>
          <div class="work-thumb"><a href="#4" data-rel="4">{% include projects/1.html %}</a></div>
          <div class="work-thumb"><a href="#5" data-rel="5">{% include projects/2.html %}</a></div>
          <div class="work-thumb"><a href="#6" data-rel="6">{% include projects/3.html %}</a></div>
        </div>

      </div>
      {% include projects.html %}
    </section>
    <!--Github Feed-->
    <section id="activity" class="heading-divider">
      <p>Activity</p>
    </section>
    {% include github.html %}
    <!--Contact-->
    <section id="contact" class="heading-divider">
      <p>Contact</p>
    </section>
    <section class="contact-section">
      <form>
          <input placeholder='Name'></input>
          <input placeholder='Email'></input>
          <textarea placeholder='Inquiry'></textarea>
          <button class="button red">Submit</button>
      </form>
    </section>
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="assets/js/github-activity.js"></script>
    <!-- <script src="assets/js/modal.js"></script> -->
    <script src="assets/js/main.js"></script>

  </body>

</html>
