<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="bio-modal">
      <div class="bio-container">
        <div class="close-button">

        </div>
        {% include copy/bio.html %}
      </div>
    </div>
    {% include header.html %}
    {% include hero.html %}
    {% include about.html %}
    {% include work.html %}
    {% include activity.html %}
    {% include contact.html %}
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="assets/js/github-activity.js"></script>
    <!-- <script src="assets/js/modal.js"></script> -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
