<h1>My Story</h1>
<div class="divider"></div>
<p>I picked up design early on, creating designs and illustrations with personality. After trying my hand at many different areas of design, I fell in love with interface. I'd been using them all my life, but never stopped to think about the care and attention to detail it takes to create a great user experience.</p>
</br>
<p>After finding my passion, I realized that creating static designs wasn't enough. I needed to do more and learn more in order to be able to fully build out my ideas. I scrambled through every online resource I could find to learn how to code, and soon found myself able to competently create things I'd never dreamed of when I first started. Learning to code has been a challenge, but is one of the most rewarding things I've ever chosen to pursue.</p>
</br>
<p>Today, I call myself a Front-end developer, but I'm first and foremost a life-long learner. My journey to learn code isn't finished, I'm just getting started.</p>

<a href="{{ site.blog }}" class="button blue-solid">Check out my blog</a>
