<h1>My Story</h1>
<div class="divider"></div>
<p>My passion lies in creating things that are useful to people. I picked up design early on, and started creating things and discovering the world of user interface design. Something was lacking, however.</p>
</br>
<p>Simply crafting static designs wasn't enough. I wanted to be more involved in the entire process of building cool things. I wanted to play a larger part in making things that people interact with on the web, igniting my passion for learning code.</p>
</br>
<p>While I consider myself a front-end web developer, I am first and fore-most a life-long learner. I still have alot to learn, and am practicing at my craft daily. My goal is to know and be proficient in as much as I can in this industry, and I hope to use my skills to create products people can enjoy using and find value in.</p>

<a href="http://zachurich.github.io/blog" class="button blue-solid">Check out my blog</a>
